<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleet Key</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <h1>SLEET KEY</h1>
        <p>Label your NEAR account keys</p>

        <form class="key_search_form">
            <input type="text" placeholder="account.near" name="key_search_input" id="key_search_input">
            <button type="submit">SEARCH</button>
        </form>
    </header>
    <article id="key_container">
        <!-- Key divs will be dynamically added here -->
    </article>
    <button class="key_save">SAVE</button>

    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
